body {
    background-color: rgb(15, 15, 15);
}

main {
    width: 100vw;
}

.enquadramento {
    background-image: url("../img/particao.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

.enquadramento h1 {
    font-weight: bold;
    color: rgb(15, 15, 15);
    font-size: 45px;
}

#color {
    color: #833EF1;
}

footer {
    background-color: #030303;
    height: 600px;
}

@media screen and (min-width: 200px) {
    header {
        height: 490px;
    }
    .enquadramento {
        height: 29vh;
        position: relative;
        top: -38px;
    }
}

@media screen and (min-width: 640px) {
    .enquadramento {
        height: 50vh;
    }
}